body {
  font-size: 0.9rem;
}

/* Navigation Bar */
.bg-nav {
  background: white;
}

.bg-input {
  background-color: #f8f9fa !important;
  border: 0 !important;
}

.button-search {
  border-radius: 18px;
  border: 2px solid #286fdc;
}

.nav-fontsize {
  font-size: 12px;
}

.text-navbar {
  color: #121416 !important;
}

.text-navbar:hover {
  color: #286fdc !important;
}

.button-search:hover {
  background-color: white;
  border-radius: 18px;
  border: 2px solid #286fdc;
  color: #286fdc;
}

.ig-size {
  width: 13rem !important;
}

.ig-size-expanded {
  width: 22rem !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(40, 11, 220, 1.0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  border: 0 !important;
}

/* Header */
.btn-header {
  background-color: white;
  border-radius: 45px;
  color: #286fdc;
}

/* Sidebar */

.text-sidebar {
  color: #343a40 !important;
}

.text-sidebar:hover {
  color: #286fdc !important;
}

.text-sidebar.active {
  color: #286fdc !important;
  font-weight: bold;
  background-color: rgb(244, 245, 246);
  border-radius: 4px;
}

.card-title.h5 {
  font-size: 1rem !important;
}

/* Question Feed Topbar */
.qf-topbar {
  color: #6c757d !important;
  font-weight: bold;
}

.qf-topbar.active {
  color: #286fdc !important;
}

.qf-label {
  background-color: #f4f5f6;
  color: #9aa1b3;
  border: 0;
  font-size: 12px;
}

.qf-label:hover {
  color: #286fdc;
  background-color: #ddeaff;
}

/* Question Feed Follow Share Bar*/
.btn-follow {
  background-color: white;
  border: 1px solid #dee3f0;
  color: #40485a;
  font-size: 12px;
}

.btn-follow:hover {
  background-color: white;
  border: 1px solid #dee3f0;
  color: #40485a;
  font-size: 12px;
}

/* Answer Top Bar */
.author {
  font-size: 12px;
}

/* Like Button */
.btn-like {
  position: absolute;
  right: 20px;
  bottom: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  border: 1px solid rgb(244, 245, 246);
  border-radius: 30px;
}

.btn-like:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  border: 1px solid rgb(244, 245, 246);
  border-radius: 30px;
}

/* Answer Button */
.btn-answer {
  width: 100%;
  color: rgb(87, 207, 141);
  background-color: rgb(243, 252, 248);
  border: 0;
}

.btn-answer:hover {
  width: 100%;
  color: rgb(87, 207, 141);
  background-color: rgb(243, 252, 248);
  border: 0;
}
